<form action="/recipe" method='POST'>
  Recipe name:<br>
  <input type="text" name="name"><br>
  Description:<br>
  <input type="text" name="desc"><br><br>
  <input type="submit" value="Enregistrer">
</form>
